<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Game Dashboard</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
</head>

<body>

<header class="navbar navbar-expand-lg navbar-dark bg-dark px-4 d-flex justify-content-between align-items-center">
    <div class="navbar-brand m-0"><span>Game Platform</span></div>
    <span id="currentRound" class="navbar-brand mx-auto text-center">
        <label th:text="${username}"></label>
    </span>
    <div class="d-flex align-items-center gap-3">
        <!-- edit profile (add in future) -->
        
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/player-profile/}">
                <i class="fa-solid fa-pencil"></i>Edit Profile</a>
            </li>
        </ul> -->
        <button class="btn btn-outline-light" onclick="window.location='/logout'">Logout</button>
    </div>
</header>


<div class="container mt-4">
    <h2 class="mb-3">Game Rooms Dashboard</h2>

    <!-- search game room -->
    <form th:action="@{/dashboard/searchRoom}" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="roomName" class="form-control" placeholder="Search for a game room...">
            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
        </div>
    </form>

    <!--    create new room-->
    <div>
        <a class="btn btn-primary" th:href="@{/dashboard/room/new}" method="get">Create New Room</a>
        <a class="btn btn-primary" th:href="@{/dashboard/myRoom}">View My Rooms</a>
    </div>
    <br>
    <!-- list of game rooms -->
    <div th:if="${room != null}">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 th:text="${room.roomName}">Room Name</h5>
                <p class="mb-0">
                    Players: <span th:text="${room.numPlayers}">0</span> / <span>10</span>
                </p>
            </div>

            <a th:href="@{/dashboard/join-room/{roomId}/{userId} (roomId=${room.roomId}, userId=${currentUserId})}"
               class="btn btn-success">
                Join Room
            </a>
        </div>
    </div>

    <div th:if="${room == null}">
        <p>No rooms found.</p>
    </div>

</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
