<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Game Dashboard</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
</head>

<body>

<header class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <span class="navbar-brand">Game Rooms</span>
    <button class="btn btn-outline-light" onclick="window.location='/logout'">Logout</button>
</header>

<a class="" th:href="@{/dashboard/}" method="get">Back to Dashboard</a>

<div class="container mt-4">
    <p> Game Room : <label th:text="${room.roomName}"></label></p>
</div>

<!--игроки-->
<div class="container">
    <h3>Игроки в комнате:</h3>
    <div id="players-container" class="row">
        <div th:each="player : ${players}" class="col-md-4 player-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${player.user.username}">Username</h5>
                    <p class="card-text">Status: <span th:text="${player.roleInRoom}">PLAYER</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<!--WebSocket-->
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<!---->
<script type="text/javascript" th:inline="javascript">
    var stompClient = null;
    var roomId = [[${room.roomId}]];

    function connect() {
    // Подключение к WebSocket endpoint '/WsGameRoom'
    var socket = new SockJS('/WsGameRoom');
    stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
    console.log('Connected to WebSocket: ' + frame);

    // Подписка на личный канал уведомлений пользователя
    // Путь: /user/queue/notifications
    // Spring Security автоматически определяет текущего пользователя.
    console.log('/topic/room/' + roomId);
    stompClient.subscribe('/topic/room/' + roomId, function (notification) {
    console.log("Raw message received:", notification); // Если notification.body придет пустым или битым, здесь будет ошибка
    showNotification(JSON.parse(notification.body)); // Обрабатка входящего JSON-сообщение
    });

    }, function (error) {
    console.error('STOMP Error:', error);
        setTimeout(connect, 5000);
    });
    }

    function showNotification(message) {
        // { username: "Nagibator2000", role: "PLAYER" }
        var username = message.username;
        var role = message.role;

        var exists = false;
        $('#players-container .card-title').each(function(){

        if($(this).text() === username){
            exists = true;
        }
        });
        if(exists) {
            console.log("player is already , skeep");
            return;
        } else {
            var newPlayerHtml = `
                    <div class="col-md-4 player-card">
                        <div class="card bg-success text-white"> <div class="card-body">
                                <h5 class="card-title">${username}</h5>
                                <p class="card-text">Status: <span>${role}</span></p>
                            </div>
                        </div>
                    </div>
                `;
            $('#players-container').append(newPlayerHtml);
        }
    }
    // Подключение при полной загрузке страницы
    $(document).ready(function () {
    if (!stompClient) { // проверка, чтобы избежать двойного подключения
    connect();
    }
    });
</script>

</body>
</html>