<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Game Platform</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style-index.css}"/>
</head>
<body class="background">
<nav class="main_div">
    <div class="logo">
        <a th:href="@{/login}" class="reg_login_btn"><b>LOGIN</b></a>
    </div>
    <div class="logo">
        <a th:href="@{/register}" class="reg_login_btn"><b>REGISTER</b></a>
    </div>
</nav>
<footer>
    <label class="copy-right">Created by © USHKEVICH</label>
</footer>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>
