<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style-login.css}"/>
</head>
<body>
<div class="login-container">
    <h2>Authorization</h2>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <label for="username">Login</label>
        <input type="text" id="username" name="username" placeholder="Write your login" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Write your password" required>
        <button type="submit">Log in</button>
    </form>
</div>
</body>
</html>
