<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style-reg.css}"/>
</head>
<body>
<div class="container">
    <h2>Registration</h2>
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/register/new}"
          th:object="${user}" method="post">
          
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 

        <label for="username">Nickname</label>
        <input id="username" type="text" th:field="*{username}" placeholder="Write your nickname" />

        <label for="email">Email</label>
        <input id="email" type="email" th:field="*{email}" placeholder="example@gmail.com" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" placeholder="Write password" />

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
