<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Game Dashboard</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>

<header class="navbar navbar-expand-lg navbar-dark bg-dark px-4 d-flex justify-content-between align-items-center">
    <div class="navbar-brand m-0">
        <span class="pointer" onclick="window.location='/dashboard/'">Game Platform</span>
    </div>
    <div class="d-flex align-items-center gap-3">
        <button class="btn btn-outline-light" onclick="window.location='/dashboard/'">Back to Dashboard</button>
        <button class="btn btn-outline-light" onclick="window.location='/logout'">Logout</button>
    </div>
</header>

<div class="container mt-4">
    <h2 class="mb-3">My Game Rooms</h2>

    <!-- list of game rooms -->
    <div th:if="${rooms != null}">
        <div th:each="room : ${rooms}" class="card mb-2">
            <div class="card-body d-flex justify-content-between align-items-center">

                <div>
                    <h5 th:text="${room.roomName}">Room Name</h5>
                    <p class="mb-0">
                        Players: <span th:text="${room.numPlayers}">0</span> / <span>10</span>
                    </p>
                </div>

                <a th:href="@{/dashboard/join-room/{roomId}/{userId}(roomId=${room.roomId}, userId=${currentUserId})}" class="btn btn-success">JOIN GAME</a>
                <form
                    th:action="@{/dashboard/clean-room/{roomId}/{userId}(roomId=${room.roomId}, userId=${currentUserId})}"
                    th:method="delete">
                    <button type="submit" class="btn btn-warning">NEW GAME</button>
                </form>
                <!-- <a th:href="@{/dashboard/delete-game-room/{roomId}(roomId=${room.roomId})}" class="btn btn-danger">Delete</a> -->
                <form th:action="@{/dashboard/delete-game-room/{roomId}(roomId=${room.roomId})}"
                    method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${rooms == null or #lists.isEmpty(rooms)}">
        <p class="text-muted">No rooms found.</p>
    </div>

</div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>